@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Epicalyx Game Reviews </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Epicalyx Game Reviews </h2>
        <p>
            Epicalyx Game Reviews is a website where you can review your currently playing and favourite video games as an actual gamer!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>